<h2 class="text-3xl font-bold underline">
	Kontoauszug {{report.month}}/{{report.year}}
</h2>
<div cdkDropListGroup class="board-container">
	@for(ddlane of dragDropLanes$(); track ddlane){
		<div class="example-container" style="flex: 1; display: flex; flex-direction: column;">
			<h2>
				{{ddlane.lane.name}}
				<button pButton
					(click)="onClickRemoveLane(ddlane)">
					<i class="pi pi-trash" pButtonIcon></i>
				</button>
			</h2>
			<div
				cdkDropList
				[cdkDropListData]="ddlane.entries"
				class="example-list"
				(cdkDropListDropped)="drop($event, ddlane)"
				style="flex: 1; display: flex; flex-direction: column;">
				@for (item of ddlane.entries; track item) {
					<div class="example-box" 
						cdkDrag 
						[cdkDragData]="item">
						{{item != undefined ? item.amount : "NA"}}
						<br>
						{{item != undefined ? item.subject : "NA"}}
					</div>
				}
			</div>
		</div>
	}
</div>
